html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.conditional-div {
  display: none;
}

@media (max-width: 900px) {
  .conditional-div {
    width: 100%;
    height: 500px;
    display: block;
    color: black;
  }
  header {
    display: none !important;
  }
  .hero {
    display: none !important;
  }
  .about-me {
    display: none !important;
  }
  .services {
    display: none !important;
  }
  .projects {
    display: none !important;
  }
  .contact {
    display: none !important;
  }
  .madeBy {
    display: none !important;
  }
}
.stars {
  position: absolute;
  width: 30%;
  height: 100%;
  transform: rotate(-24deg);
  overflow: hidden;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: white;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.36em;
  --top-offset: 70.22vh;
  --fall-duration: 8.448s;
  --fall-delay: 8.84s;
}
.star:nth-child(2) {
  --star-tail-length: 6.97em;
  --top-offset: 44.47vh;
  --fall-duration: 7.597s;
  --fall-delay: 7.017s;
}
.star:nth-child(3) {
  --star-tail-length: 6.47em;
  --top-offset: 21.7vh;
  --fall-duration: 6.68s;
  --fall-delay: 9.406s;
}
.star:nth-child(4) {
  --star-tail-length: 5.43em;
  --top-offset: 14.92vh;
  --fall-duration: 10.942s;
  --fall-delay: 1.984s;
}
.star:nth-child(5) {
  --star-tail-length: 6.62em;
  --top-offset: 5.21vh;
  --fall-duration: 7.84s;
  --fall-delay: 0.342s;
}
.star:nth-child(6) {
  --star-tail-length: 6.94em;
  --top-offset: 46.43vh;
  --fall-duration: 7.285s;
  --fall-delay: 7.276s;
}
.star:nth-child(7) {
  --star-tail-length: 5.16em;
  --top-offset: 7.45vh;
  --fall-duration: 7.21s;
  --fall-delay: 9.844s;
}
.star:nth-child(8) {
  --star-tail-length: 5.19em;
  --top-offset: 89.42vh;
  --fall-duration: 9.324s;
  --fall-delay: 9.69s;
}
.star:nth-child(9) {
  --star-tail-length: 5.27em;
  --top-offset: 91.92vh;
  --fall-duration: 11.883s;
  --fall-delay: 7.026s;
}
.star:nth-child(10) {
  --star-tail-length: 7.31em;
  --top-offset: 79.89vh;
  --fall-duration: 11.665s;
  --fall-delay: 2.763s;
}
.star:nth-child(11) {
  --star-tail-length: 5.87em;
  --top-offset: 34.53vh;
  --fall-duration: 11.767s;
  --fall-delay: 5.42s;
}
.star:nth-child(12) {
  --star-tail-length: 6.72em;
  --top-offset: 22.93vh;
  --fall-duration: 8.129s;
  --fall-delay: 8.913s;
}
.star:nth-child(13) {
  --star-tail-length: 5.65em;
  --top-offset: 20.39vh;
  --fall-duration: 10.15s;
  --fall-delay: 8.54s;
}
.star:nth-child(14) {
  --star-tail-length: 6.75em;
  --top-offset: 99.98vh;
  --fall-duration: 7.889s;
  --fall-delay: 1.938s;
}
.star:nth-child(15) {
  --star-tail-length: 6.1em;
  --top-offset: 38.42vh;
  --fall-duration: 10.604s;
  --fall-delay: 2.566s;
}
.star:nth-child(16) {
  --star-tail-length: 7.15em;
  --top-offset: 13.73vh;
  --fall-duration: 6.795s;
  --fall-delay: 2.276s;
}
.star:nth-child(17) {
  --star-tail-length: 7.25em;
  --top-offset: 25.79vh;
  --fall-duration: 8.564s;
  --fall-delay: 8.259s;
}
.star:nth-child(18) {
  --star-tail-length: 5.16em;
  --top-offset: 50.96vh;
  --fall-duration: 6.571s;
  --fall-delay: 5.144s;
}
.star:nth-child(19) {
  --star-tail-length: 5.44em;
  --top-offset: 58.61vh;
  --fall-duration: 7.376s;
  --fall-delay: 0.565s;
}
.star:nth-child(20) {
  --star-tail-length: 5.6em;
  --top-offset: 17.66vh;
  --fall-duration: 7.581s;
  --fall-delay: 4.524s;
}
.star:nth-child(21) {
  --star-tail-length: 6.02em;
  --top-offset: 77.03vh;
  --fall-duration: 11.384s;
  --fall-delay: 5.98s;
}
.star:nth-child(22) {
  --star-tail-length: 6.45em;
  --top-offset: 56.34vh;
  --fall-duration: 11.617s;
  --fall-delay: 4.236s;
}
.star:nth-child(23) {
  --star-tail-length: 6.23em;
  --top-offset: 47.12vh;
  --fall-duration: 7.072s;
  --fall-delay: 8.956s;
}
.star:nth-child(24) {
  --star-tail-length: 5.38em;
  --top-offset: 80.11vh;
  --fall-duration: 8.754s;
  --fall-delay: 7.722s;
}
.star:nth-child(25) {
  --star-tail-length: 5.62em;
  --top-offset: 38.37vh;
  --fall-duration: 10.173s;
  --fall-delay: 8.378s;
}
.star:nth-child(26) {
  --star-tail-length: 6.63em;
  --top-offset: 79.05vh;
  --fall-duration: 6.616s;
  --fall-delay: 1.677s;
}
.star:nth-child(27) {
  --star-tail-length: 5.34em;
  --top-offset: 36.75vh;
  --fall-duration: 11.296s;
  --fall-delay: 2.012s;
}
.star:nth-child(28) {
  --star-tail-length: 6.57em;
  --top-offset: 30.67vh;
  --fall-duration: 7.313s;
  --fall-delay: 9.037s;
}
.star:nth-child(29) {
  --star-tail-length: 6.45em;
  --top-offset: 63.68vh;
  --fall-duration: 10.764s;
  --fall-delay: 7.926s;
}
.star:nth-child(30) {
  --star-tail-length: 5.3em;
  --top-offset: 69.86vh;
  --fall-duration: 10.834s;
  --fall-delay: 9.644s;
}
.star:nth-child(31) {
  --star-tail-length: 7.28em;
  --top-offset: 86.02vh;
  --fall-duration: 9.248s;
  --fall-delay: 9.588s;
}
.star:nth-child(32) {
  --star-tail-length: 6.59em;
  --top-offset: 78.29vh;
  --fall-duration: 11.095s;
  --fall-delay: 5.866s;
}
.star:nth-child(33) {
  --star-tail-length: 7.39em;
  --top-offset: 31.29vh;
  --fall-duration: 8.801s;
  --fall-delay: 9.183s;
}
.star:nth-child(34) {
  --star-tail-length: 6.78em;
  --top-offset: 54.46vh;
  --fall-duration: 7.723s;
  --fall-delay: 9.378s;
}
.star:nth-child(35) {
  --star-tail-length: 6.87em;
  --top-offset: 45.51vh;
  --fall-duration: 6.121s;
  --fall-delay: 7.367s;
}
.star:nth-child(36) {
  --star-tail-length: 5.28em;
  --top-offset: 22.8vh;
  --fall-duration: 9.222s;
  --fall-delay: 6.603s;
}
.star:nth-child(37) {
  --star-tail-length: 7.14em;
  --top-offset: 80.46vh;
  --fall-duration: 7.938s;
  --fall-delay: 0.135s;
}
.star:nth-child(38) {
  --star-tail-length: 5.33em;
  --top-offset: 33.73vh;
  --fall-duration: 9.905s;
  --fall-delay: 7.752s;
}
.star:nth-child(39) {
  --star-tail-length: 6.8em;
  --top-offset: 90.85vh;
  --fall-duration: 6.261s;
  --fall-delay: 1.652s;
}
.star:nth-child(40) {
  --star-tail-length: 5.69em;
  --top-offset: 20.25vh;
  --fall-duration: 9.579s;
  --fall-delay: 7.221s;
}
.star:nth-child(41) {
  --star-tail-length: 6.55em;
  --top-offset: 21.55vh;
  --fall-duration: 10.652s;
  --fall-delay: 5.419s;
}
.star:nth-child(42) {
  --star-tail-length: 6.05em;
  --top-offset: 47.83vh;
  --fall-duration: 7.764s;
  --fall-delay: 1.348s;
}
.star:nth-child(43) {
  --star-tail-length: 6.67em;
  --top-offset: 77.15vh;
  --fall-duration: 9.142s;
  --fall-delay: 4.016s;
}
.star:nth-child(44) {
  --star-tail-length: 6.97em;
  --top-offset: 65.85vh;
  --fall-duration: 10.517s;
  --fall-delay: 6.474s;
}
.star:nth-child(45) {
  --star-tail-length: 6.76em;
  --top-offset: 18.03vh;
  --fall-duration: 8.638s;
  --fall-delay: 4.977s;
}
.star:nth-child(46) {
  --star-tail-length: 6.37em;
  --top-offset: 88vh;
  --fall-duration: 6.373s;
  --fall-delay: 1.932s;
}
.star:nth-child(47) {
  --star-tail-length: 5.63em;
  --top-offset: 76.02vh;
  --fall-duration: 7.338s;
  --fall-delay: 3.284s;
}
.star:nth-child(48) {
  --star-tail-length: 7.04em;
  --top-offset: 99.02vh;
  --fall-duration: 7.83s;
  --fall-delay: 6.338s;
}
.star:nth-child(49) {
  --star-tail-length: 6.92em;
  --top-offset: 42.07vh;
  --fall-duration: 9.367s;
  --fall-delay: 2.009s;
}
.star:nth-child(50) {
  --star-tail-length: 5.16em;
  --top-offset: 17.18vh;
  --fall-duration: 6.792s;
  --fall-delay: 5.362s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 0.5s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-10em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.2;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.3;
  }
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #ffffff;
  color: #0069b5;
  z-index: 1000000000000;
  width: 96%;
  border-bottom: #000 1px solid;
  top: 0;
  transition: top 0.3s;
}
header .logo {
  padding-bottom: 5px;
  font-size: 1.5em;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
header nav ul li a {
  text-decoration: none;
  color: #0069b5;
  padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #0069b5;
  transition: width 0.3s ease-in-out;
}
header nav ul li a:hover::after {
  width: 100%;
}
header .theme-toggle {
  font-size: 1.5em;
  cursor: pointer;
  padding-bottom: 5px;
}

main {
  padding: 0;
  margin: 0;
}

.hero {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 920px;
  position: relative;
  overflow: hidden;
  color: white;
}
.hero .content-wrapper {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.hero .content-wrapper .content {
  max-width: 600px;
}
.hero .content-wrapper .content h1 {
  font-size: 3em;
  margin: 0;
}
.hero .content-wrapper .content h2 {
  font-size: 2.5em;
  color: #0069b5;
  margin: 10px 0;
}
.hero .content-wrapper .content p {
  font-size: 1.2em;
  margin: 20px 0;
}
.hero .content-wrapper .content .social-links {
  display: flex;
  gap: 10px;
}
.hero .content-wrapper .content .social-links a img {
  width: 30px;
  height: 30px;
}
.hero .content-wrapper .content .resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0069b5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.hero .content-wrapper .content .resume-button:hover {
  background-color: #0069b5;
}
.hero .content-wrapper .illustration img {
  max-width: 100%;
}
.hero .content-wrapper .illustration .credit {
  text-align: center !important;
  font-size: 13px !important;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
body.dark-theme header {
  background-color: #333;
}
body.dark-theme header .logo {
  padding-bottom: 5px;
  color: #ffffff;
}
body.dark-theme header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
body.dark-theme header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
body.dark-theme header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}
body.dark-theme header nav ul li a:hover::after {
  width: 100%;
}
body.dark-theme .illustration .credit {
  color: #ffffff;
}
body.dark-theme .about-me {
  background-color: #333;
}
body.dark-theme .about-me .technologie {
  color: #333;
}
body.dark-theme .projects {
  color: #ffffff;
  background: #333;
}
body.dark-theme .projects .project {
  background-color: #ffffff;
  color: #333;
}
body.dark-theme .madeBy {
  background-color: #333;
}

.icons {
  filter: brightness(0) invert(1);
}

.icons:hover {
  transform: scale(1.2);
}

.about-me {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 920px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.about-me h1 {
  font-size: 3rem;
  margin-top: 70px;
}
.about-me h2 {
  font-size: 1.875rem;
}
.about-me p {
  font-size: 1.25rem;
}
.about-me .block {
  width: 1100px;
}
.about-me .technologies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 1110px;
  margin-top: 30px;
  margin-left: 30px;
}
.about-me .technologies .technologie {
  cursor: pointer;
  background-color: #f3f4f5;
  display: flex;
  border-radius: 5px;
  width: 140px;
  height: 39px;
  padding: 11px;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 30px;
}
.about-me .technologies .technologie .img {
  height: 50px;
  margin-right: 10px;
}

.services {
  display: flex;
  color: #ffffff;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  width: 100%;
  height: 650px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.services h1 {
  font-size: 3rem;
}
.services h2 {
  font-size: 1.875rem;
}
.services .provide {
  width: 55%;
}
.services .service-box {
  display: flex;
  flex-wrap: wrap;
  width: 64%;
  justify-content: space-evenly;
  color: black;
}
.services .service-box .service {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 5%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.services .service-box .service h3 {
  margin: 0;
  margin-top: 30px;
}
.services .service-box .service p {
  padding: 20px;
}

.projects {
  display: flex;
  color: #333;
  background: #ffffff;
  width: 100%;
  height: 650px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.projects h1 {
  font-size: 3rem;
}
.projects .project {
  background-color: #f3f4f5;
  display: flex;
  width: 460px;
  height: 460px;
  border-radius: 5%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.projects .project img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.projects .project:hover {
  transform: scale(0.9);
}

.contact {
  color: #ffffff;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
}
.contact .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
}
.contact .content .mail {
  text-align: left;
}
.contact .content .mail .font-size {
  font-size: 50px;
  width: 80%;
}
.contact .content .form-container {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: left;
  padding: 25px;
}
.contact .content form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.contact .content form input,
.contact .content form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease;
}
.contact .content form input::-moz-placeholder, .contact .content form textarea::-moz-placeholder {
  color: #888;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contact .content form input::placeholder,
.contact .content form textarea::placeholder {
  color: #888;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.contact .content form input:focus::-moz-placeholder, .contact .content form textarea:focus::-moz-placeholder {
  opacity: 0;
}
.contact .content form input:focus::placeholder,
.contact .content form textarea:focus::placeholder {
  opacity: 0;
}
.contact .content form textarea {
  resize: vertical;
}
.contact .content form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.contact .content form button:hover {
  background-color: #0056b3;
}

.madeBy {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.hideAboutMe {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.showAboutme {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hideService {
  opacity: 0;
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.showService {
  opacity: 1;
  transform: translatey(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}/*# sourceMappingURL=styles.css.map */